<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pages</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="container">
    {% if user.is_authenticated %}
        <h1>Hi {{ user.username }}!</h1>


        <table id="myTable" class=" table order-list">
            <thead>
            <tr>
                <th>page_id</th>
                <th>status</th>
                <th>run/stop</th>
            </tr>
            </thead>
            <form method ="post">

            <tbody>

                {% if pages_list %}
                    {% for page in pages_list %}
                    <tr>
                        {% csrf_token %}
                        {% if page.run_status == "no" %}
                            <td class="col-sm-4"><input type="text" name="account_id" value="{{ page.account_id }}" class="form-control"></td>
                            <td class="col-sm-4">not running</td>
                            <td><button type="submit" name ="run_cmnts" value="{{page.account_id}}">Run</button></td>
                            <td class="col-sm-4"><button name="delete_row" value="{{ page.account_id }}">Delete</button></td>
                         {% else %}
                            <td class="col-sm-4"><input type="text" name="account_id" value="{{ page.account_id }}" class="form-control"></td>
                            <td class="col-sm-4">actively running</td>
                            <td><button type="submit" name = "stop_cmnts" value="{{page.account_id}}">Stop</button></td>
                            <td class="col-sm-4"><a class="deleteRow">Delete</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                {% endif %}

            </tbody>
        <tfoot>
        <tr>
            <td colspan="4" style="text-align: left;">
                <button type="submit" name = "add_new" value="Add Row" />Add New</button>
            </td>
        </tr>
        <tr>
        </tr>
    </tfoot>
            </form>
        </table>
        {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">login</a>
    {% endif %}
    </div>

</body>
</html>